@model CRUDUSUARIOS.Models.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Usuario_Detalle";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-4">
            <form asp-action="Usuario_Detalle" asp-controller="Home" method="post">
                <input type="hidden" asp-for="oUsuario.IdUsuario" />

                <div class="mb-2">
                    <label class="form-label" asp-for="oUsuario.Nombre">Nombre</label>
                    <input required class="form-control form-control-sm" asp-for="oUsuario.Nombre" type="text" />
                </div>

                <div class="mb-2">
                    <label class="form-label" asp-for="oUsuario.ApellidoPaterno">Apellido Paterno</label>
                    <input required class="form-control form-control-sm" asp-for="oUsuario.ApellidoPaterno" type="text" />
                </div>

                <div class="mb-2">
                    <label class="form-label" asp-for="oUsuario.ApellidoMaterno">Apellido Materno</label>
                    <input required class="form-control form-control-sm" asp-for="oUsuario.ApellidoMaterno" type="text" />
                </div>

                <div class="mb-2">
                    <label class="form-label" asp-for="oUsuario.Correo">Correo</label>
                    <input required class="form-control form-control-sm" asp-for="oUsuario.Correo" type="email" />
                </div>

                <div class="mb-2">
                    <label class="form-label" asp-for="oUsuario.Telefono">Teléfono</label>
                    <input required class="form-control form-control-sm" asp-for="oUsuario.Telefono" type="tel" pattern="^[0-9]{10}" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="oUsuario.IdCargo">Cargo</label>
                    <select required class="form-select form-select-sm " asp-for="oUsuario.IdCargo" asp-items="@Model.oListaCargo">
                        <option value="" selected disabled>SELECCIONAR</option>
                    </select>
                </div>

                <div class="mb-2 d-grid gap-2 col-6 mx-auto">
                    @if (Model.oUsuario.IdUsuario == 0)
                    {
                        <button class="btn btn-primary btn-sm" type="submit">Crear</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm" type="submit">Actualizar</button>
                    }
                    <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
